button {
    min-width: 100px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 16px;
    background-color: grey;
    text-align: center;
    text-decoration: none;
    color: white;
}
h2{
    font-size: 16px;
    color: black; 
}